In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/CarPrice.csv')

In [3]:
df.head()

   car_ID  symboling                   CarName fueltype aspiration doornumber      carbody drivewheel enginelocation  wheelbase  carlength  carwidth  carheight  curbweight enginetype cylindernumber  enginesize fuelsystem  boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  highwaympg    price
0       1          3        alfa-romero giulia      gas        std        two  convertible        rwd          front       88.6      168.8      64.1       48.8        2548       dohc           four         130       mpfi       3.47    2.68               9.0         111     5000       21          27  13495.0
1       2          3       alfa-romero stelvio      gas        std        two  convertible        rwd          front       88.6      168.8      64.1       48.8        2548       dohc           four         130       mpfi       3.47    2.68               9.0         111     5000       21          27  16500.0
2       3          1  alfa-romero Quadrifoglio      gas        std        two    hatchback        rwd          front       94.5      171.2      65.5       52.4        2823       ohcv            six         152       mpfi       2.68    3.47               9.0         154     5000       19          26  16500.0
3       4          2               audi 100 ls      gas        std       four        sedan        fwd          front       99.8      176.6      66.2       54.3        2337        ohc           four         109       mpfi       3.19    3.40              10.0         102     5500       24          30  13950.0
4       5          2                audi 100ls      gas        std       four        sedan        4wd          front       99.4      176.6      66.4       54.3        2824        ohc           five         136       mpfi       3.19    3.40               8.0         115     5500       18          22  17450.0

In [4]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
cat=df.select_dtypes(exclude=np.number)

In [8]:
cat.head()

                    CarName fueltype aspiration doornumber      carbody drivewheel enginelocation enginetype cylindernumber fuelsystem
0        alfa-romero giulia      gas        std        two  convertible        rwd          front       dohc           four       mpfi
1       alfa-romero stelvio      gas        std        two  convertible        rwd          front       dohc           four       mpfi
2  alfa-romero Quadrifoglio      gas        std        two    hatchback        rwd          front       ohcv            six       mpfi
3               audi 100 ls      gas        std       four        sedan        fwd          front        ohc           four       mpfi
4                audi 100ls      gas        std       four        sedan        4wd          front        ohc           five       mpfi

In [9]:
for i in range(len(cat.columns)):
    print("unique characters in column({}) values={}".format(cat.columns[i],np.unique(df[cat.columns[i]])))

unique characters in column(CarName) values=['Nissan versa' 'alfa-romero Quadrifoglio' 'alfa-romero giulia'
 'alfa-romero stelvio' 'audi 100 ls' 'audi 100ls' 'audi 4000' 'audi 5000'
 'audi 5000s (diesel)' 'audi fox' 'bmw 320i' 'bmw x1' 'bmw x3' 'bmw x4'
 'bmw x5' 'bmw z4' 'buick century' 'buick century luxus (sw)'
 'buick century special' 'buick electra 225 custom'
 'buick opel isuzu deluxe' 'buick regal sport coupe (turbo)'
 'buick skyhawk' 'buick skylark' 'chevrolet impala'
 'chevrolet monte carlo' 'chevrolet vega 2300' 'dodge challenger se'
 'dodge colt (sw)' 'dodge colt hardtop' 'dodge coronet custom'
 'dodge coronet custom (sw)' 'dodge d200' 'dodge dart custom'
 'dodge monaco (sw)' 'dodge rampage' 'honda accord' 'honda accord cvcc'
 'honda accord lx' 'honda civic' 'honda civic (auto)' 'honda civic 1300'
 'honda civic 1500 gl' 'honda civic cvcc' 'honda prelude' 'isuzu D-Max '
 'isuzu D-Max V-Cross' 'isuzu MU-X' 'jaguar xf' 'jaguar xj' 'jaguar xk'
 'maxda glc deluxe' 'maxda rx3' 'mazda 626' 'mazda glc' 'mazda glc 4'
 'mazda glc custom' 'mazda glc custom l' 'mazda glc deluxe' 'mazda rx-4'
 'mazda rx-7 gs' 'mazda rx2 coupe' 'mercury cougar' 'mitsubishi g4'
 'mitsubishi lancer' 'mitsubishi mirage' 'mitsubishi mirage g4'
 'mitsubishi montero' 'mitsubishi outlander' 'mitsubishi pajero'
 'nissan clipper' 'nissan dayz' 'nissan fuga' 'nissan gt-r' 'nissan juke'
 'nissan kicks' 'nissan latio' 'nissan leaf' 'nissan note' 'nissan nv200'
 'nissan otti' 'nissan rogue' 'nissan teana' 'nissan titan' 'peugeot 304'
 'peugeot 504' 'peugeot 504 (sw)' 'peugeot 505s turbo diesel'
 'peugeot 604sl' 'plymouth cricket' 'plymouth duster'
 'plymouth fury gran sedan' 'plymouth fury iii'
 'plymouth satellite custom (sw)' 'plymouth valiant' 'porcshce panamera'
 'porsche boxter' 'porsche cayenne' 'porsche macan' 'renault 12tl'
 'renault 5 gtl' 'saab 99e' 'saab 99gle' 'saab 99le' 'subaru'
 'subaru baja' 'subaru brz' 'subaru dl' 'subaru r1' 'subaru r2'
 'subaru trezia' 'subaru tribeca' 'toyota carina' 'toyota celica gt'
 'toyota celica gt liftback' 'toyota corolla' 'toyota corolla 1200'
 'toyota corolla 1600 (sw)' 'toyota corolla liftback'
 'toyota corolla tercel' 'toyota corona' 'toyota corona hardtop'
 'toyota corona liftback' 'toyota corona mark ii' 'toyota cressida'
 'toyota mark ii' 'toyota starlet' 'toyota tercel' 'toyouta tercel'
 'vokswagen rabbit' 'volkswagen 1131 deluxe sedan' 'volkswagen 411 (sw)'
 'volkswagen dasher' 'volkswagen model 111' 'volkswagen rabbit'
 'volkswagen rabbit custom' 'volkswagen super beetle' 'volkswagen type 3'
 'volvo 144ea' 'volvo 145e (sw)' 'volvo 244dl' 'volvo 245' 'volvo 246'
 'volvo 264gl' 'volvo diesel' 'vw dasher' 'vw rabbit']
unique characters in column(fueltype) values=['diesel' 'gas']
unique characters in column(aspiration) values=['std' 'turbo']
unique characters in column(doornumber) values=['four' 'two']
unique characters in column(carbody) values=['convertible' 'hardtop' 'hatchback' 'sedan' 'wagon']
unique characters in column(drivewheel) values=['4wd' 'fwd' 'rwd']
unique characters in column(enginelocation) values=['front' 'rear']
unique characters in column(enginetype) values=['dohc' 'dohcv' 'l' 'ohc' 'ohcf' 'ohcv' 'rotor']
unique characters in column(cylindernumber) values=['eight' 'five' 'four' 'six' 'three' 'twelve' 'two']
unique characters in column(fuelsystem) values=['1bbl' '2bbl' '4bbl' 'idi' 'mfi' 'mpfi' 'spdi' 'spfi']

In [10]:
cat.drop('CarName',inplace=True,axis='columns')

In [11]:
d=pd.get_dummies(cat[['fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation','cylindernumber','fuelsystem']],drop_first=True)
d.shape

(205, 23)

In [12]:
df.shape

(205, 26)

In [13]:
df=pd.concat([df,d],axis='columns')
df.shape

(205, 49)

In [14]:
df.isna().sum()

car_ID                   0
symboling                0
CarName                  0
fueltype                 0
aspiration               0
doornumber               0
carbody                  0
drivewheel               0
enginelocation           0
wheelbase                0
carlength                0
carwidth                 0
carheight                0
curbweight               0
enginetype               0
cylindernumber           0
enginesize               0
fuelsystem               0
boreratio                0
stroke                   0
compressionratio         0
horsepower               0
peakrpm                  0
citympg                  0
highwaympg               0
price                    0
fueltype_gas             0
aspiration_turbo         0
doornumber_two           0
carbody_hardtop          0
carbody_hatchback        0
carbody_sedan            0
carbody_wagon            0
drivewheel_fwd           0
drivewheel_rwd           0
enginelocation_rear      0
cylindernumber_five      0
cylindernumber_four      0
cylindernumber_six       0
cylindernumber_three     0
cylindernumber_twelve    0
cylindernumber_two       0
fuelsystem_2bbl          0
fuelsystem_4bbl          0
fuelsystem_idi           0
fuelsystem_mfi           0
fuelsystem_mpfi          0
fuelsystem_spdi          0
fuelsystem_spfi          0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 49 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   car_ID                 205 non-null    int64
 1   symboling              205 non-null    int64
 2   CarName                205 non-null    object
 3   fueltype               205 non-null    object
 4   aspiration             205 non-null    object
 5   doornumber             205 non-null    object
 6   carbody                205 non-null    object
 7   drivewheel             205 non-null    object
 8   enginelocation         205 non-null    object
 9   wheelbase              205 non-null    float64
 10  carlength              205 non-null    float64
 11  carwidth               205 non-null    float64
 12  carheight              205 non-null    float64
 13  curbweight             205 non-null    int64
 14  enginetype             205 non-null    object
 15  cylindernumber         205 non-null    object
 16  enginesize             205 non-null    int64
 17  fuelsystem             205 non-null    object
 18  boreratio              205 non-null    float64
 19  stroke                 205 non-null    float64
 20  compressionratio       205 non-null    float64
 21  horsepower             205 non-null    int64
 22  peakrpm                205 non-null    int64
 23  citympg                205 non-null    int64
 24  highwaympg             205 non-null    int64
 25  price                  205 non-null    float64
 26  fueltype_gas           205 non-null    uint8
 27  aspiration_turbo       205 non-null    uint8
 28  doornumber_two         205 non-null    uint8
 29  carbody_hardtop        205 non-null    uint8
 30  carbody_hatchback      205 non-null    uint8
 31  carbody_sedan          205 non-null    uint8
 32  carbody_wagon          205 non-null    uint8
 33  drivewheel_fwd         205 non-null    uint8
 34  drivewheel_rwd         205 non-null    uint8
 35  enginelocation_rear    205 non-null    uint8
 36  cylindernumber_five    205 non-null    uint8
 37  cylindernumber_four    205 non-null    uint8
 38  cylindernumber_six     205 non-null    uint8
 39  cylindernumber_three   205 non-null    uint8
 40  cylindernumber_twelve  205 non-null    uint8
 41  cylindernumber_two     205 non-null    uint8
 42  fuelsystem_2bbl        205 non-null    uint8
 43  fuelsystem_4bbl        205 non-null    uint8
 44  fuelsystem_idi         205 non-null    uint8
 45  fuelsystem_mfi         205 non-null    uint8
 46  fuelsystem_mpfi        205 non-null    uint8
 47  fuelsystem_spdi        205 non-null    uint8
 48  fuelsystem_spfi        205 non-null    uint8
dtypes: float64(8), int64(8), object(10), uint8(23)
memory usage: 46.4+ KB

In [33]:
num=df.select_dtypes(include=np.number)
num=num.drop(num[['price']],axis='columns')
num.head()

   car_ID  symboling  wheelbase  carlength  carwidth  carheight  curbweight  enginesize  boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  highwaympg  fueltype_gas  aspiration_turbo  doornumber_two  carbody_hardtop  carbody_hatchback  carbody_sedan  carbody_wagon  drivewheel_fwd  drivewheel_rwd  enginelocation_rear  cylindernumber_five  cylindernumber_four  cylindernumber_six  cylindernumber_three  cylindernumber_twelve  cylindernumber_two  fuelsystem_2bbl  fuelsystem_4bbl  fuelsystem_idi  fuelsystem_mfi  fuelsystem_mpfi  fuelsystem_spdi  fuelsystem_spfi
0       1          3       88.6      168.8      64.1       48.8        2548         130       3.47    2.68               9.0         111     5000       21          27             1                 0               1                0                  0              0              0               0               1                    0                    0                    1                   0                     0                      0                   0                0                0               0               0                1                0                0
1       2          3       88.6      168.8      64.1       48.8        2548         130       3.47    2.68               9.0         111     5000       21          27             1                 0               1                0                  0              0              0               0               1                    0                    0                    1                   0                     0                      0                   0                0                0               0               0                1                0                0
2       3          1       94.5      171.2      65.5       52.4        2823         152       2.68    3.47               9.0         154     5000       19          26             1                 0               1                0                  1              0              0               0               1                    0                    0                    0                   1                     0                      0                   0                0                0               0               0                1                0                0
3       4          2       99.8      176.6      66.2       54.3        2337         109       3.19    3.40              10.0         102     5500       24          30             1                 0               0                0                  0              1              0               1               0                    0                    0                    1                   0                     0                      0                   0                0                0               0               0                1                0                0
4       5          2       99.4      176.6      66.4       54.3        2824         136       3.19    3.40               8.0         115     5500       18          22             1                 0               0                0                  0              1              0               0               0                    0                    1                    0                   0                     0                      0                   0                0                0               0               0                1                0                0

In [34]:
x=num.drop(num[['car_ID']],axis='columns')
y=df[['price']]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [37]:
x_train.shape

(164, 37)

In [38]:
y_train.shape

(164, 1)

In [39]:
x_test.shape

(41, 37)

In [40]:
y_test.shape

(41, 1)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
v=LinearRegression()
v.fit(x_train,y_train)

LinearRegression()

In [49]:
y_pred=v.predict(x_test)
y_pred

array([[11979.18313281],
       [15128.06672536],
       [ 9419.67666565],
       [ 9897.58882284],
       [ 4777.31178182],
       [15831.15330684],
       [ 7323.47352626],
       [ 6573.65221691],
       [10742.5423823 ],
       [15995.05226941],
       [17910.68326653],
       [ 3601.65472316],
       [16643.21846112],
       [ 7139.13994481],
       [16270.99218863],
       [19548.51657759],
       [33147.85775444],
       [20180.48116956],
       [ 9732.18366478],
       [ 6709.48743794],
       [10455.564768  ],
       [19169.04504852],
       [15791.22651568],
       [ 6653.04468495],
       [ 8263.85083888],
       [15129.45919977],
       [ 9647.47391787],
       [ 7328.00253315],
       [10895.18235595],
       [20985.26084637],
       [ 6507.48131565],
       [ 7307.2420056 ],
       [ 9958.44476419],
       [10285.93966439],
       [ 9353.20995471],
       [22477.55755952],
       [ 7141.5660977 ],
       [24540.50682879],
       [ 5970.66153369],
       [14298.52631538],
       [24591.83592489]])

In [50]:
v.score(x_test,y_test)

0.7929259157025915

In [51]:
v.score(x_train,y_train)

0.929507733174848

In [54]:
import matplotlib.pyplot as plt